# ignore all temporary MS Office files that exist while editing inside this git repo
*~$*.xlsx
*~$*.xls
*~$*.docx
*~$*.doc
*~$*.pptx
*~$*.ppt

# ignore everything in data/, except the README.md
data/*
!README.md
# ignore everything in data_raw/, except the README.md (this way of writing it works, too)
data_raw/*
data_raw/!README.md

# Once the `!` is left out, written files and folders are ignored, again
file_to_ignore.txt
