# ignore all temporary MS Office files that exist while editing inside this git repo
*~$*.xlsx
*~$*.xls
*~$*.docx
*~$*.doc
*~$*.pptx
*~$*.ppt

# ignore everything in data/, except the README.md
data/*
!README.md

data_raw/*
!README.md

file_to_ignore.txt
